<!-- app/views/blog_entries/new.html.erb -->
<h1>New Blog Entry</h1>

<%= form_with model: @blog_entry do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.submit %>
<% end %>